.mainmap {
  width: 100%;
  height: 100%;
  border: none;
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#map {
  /* position: absolute;
  bottom: 0;
  right: 0; */

  margin: 10px;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  transition: 0.2s;
  opacity: 50%;
}
.resultsScreen {
  visibility: hidden;
  font-family: Montserrat;
  vertical-align: center;
  position: fixed;
  top: 60vh;
  padding-top: 30px;
  left: 35vw;
  z-index: 67;
  text-align: center;
  border-radius: 30px;
  width: 30vw;
  height: 15vh;
  background-color: rgb(61, 149, 61);
  background-color: rgb(63, 130, 0);
  border-radius: 5px;
  opacity: 80%;
  background-color: rgb(63, 130, 0);
  font-family: Montserrat;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 15pt;
}
#result {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 66;
}
.guessctnr {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 0;
  right: 0;
  margin: 15px;
  width: 18vw;
  height: 12vw;
  transition: 0.3s;
}
.guessctnr:hover {
  width: 50vw;
  height: 30vw;
}
.guessctnr:hover #guessbtn {
  font-size: 30pt;
}
.guessctnr:hover #map {
  opacity: 100%;
}
.score {
  font-family: Montserrat;
  vertical-align: center;
  position: fixed;
  top: 2vh;
  padding-top: 30px;
  left: 85vw;
  z-index: 67;
  text-align: center;
  border-radius: 30px;
  width: 13vw;
  height: 7vh;
  background-color: rgb(61, 149, 61);
  background-color: rgb(63, 130, 0);
  border-radius: 5px;
  opacity: 80%;
  background-color: rgb(63, 130, 0);
  font-family: Montserrat;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 15pt;
}
#guessbtn {
  background-color: rgb(63, 130, 0);
  border-radius: 5px;
  font-family: Montserrat;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 15pt;
  padding: 10px;
  height: 20%;
  width: 100%;
  margin: 0px;
  opacity: 100%;
  transition: 0.3s;
}
#guessbtn:hover: {
  border: 10px solid white;
}

.mapctnr {
  position: fixed;
  top: -10vh;
  height: 115vh;
  width: 100vw;
  padding: none;
}

.montserrat-kye {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
