.mainmap {
  visibility: hidden;
  width: 100%;
  height: 100%;
  border: none;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
/* Leaflet Maps */
#map {
  /* position: absolute;
  bottom: 0;
  right: 0; */
  cursor:crosshair;
  margin: 10px;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  transition: 0.2s;
  opacity: 50%;
}
#result {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 66;
}

/* Divs  (score and results) */
.resultsScreen {
  visibility: hidden;
  font-family: Lexend;
  vertical-align: center;
  position: fixed;
  top: 80vh;
  left: 35vw;
  padding-top: 15px;
  z-index: 67;
  text-align: center;
  width: 30vw;
  height: 17vh;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  background-image: linear-gradient(to bottom,rgba(108, 128, 101, 0.4),rgba(115, 148, 130, 0.4));
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: 700;
  backdrop-filter: blur(10px);
  font-size: 15pt;
}

#nextButton{
  font-family: Lexend;
  z-index: 69;
  text-align: center;
  width: 7vw;
  height: 5vh;
  background-image: linear-gradient(to bottom,rgb(119, 142, 112),rgb(107, 138, 122));
  border-radius: 5px;
  opacity: 100%;
  border: none;
  color: white;
  font-weight: 700;
  backdrop-filter: blur(10px);
  font-size: 15pt;
  transition: transform 0.2s ease, box-shadow 0.2s ease;

}
#nextButton:hover{
  transform: scale(1.05); 
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border:solid 2px white;
}

.score {
  visibility: hidden;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  
  font-family: Lexend;
  vertical-align: center;
  position: fixed;
  top: 2vh;
  padding-top: 30px;
  left: 85vw;
  z-index: 67;
  text-align: center;
  border-radius: 30px;
  width: 13vw;
  height: 7vh;
  border-radius: 5px;
  opacity: 80%;
  background-image: linear-gradient(to top,rgb(154, 179, 146),rgb(138, 182, 159));
  border: none;
  color: white;
  font-weight: 700;
  font-size: 15pt;
}
/*containers*/
.guessctnr {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 0;
  right: 0;
  margin: 15px;
  width: 18vw;
  height: 12vw;
  transition: 0.3s;
}
.guessctnr:hover {
  width: 50vw;
  height: 30vw;
}

.guessctnr:hover #map {
  opacity: 100%;
}

#guessbtn {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

  background-image: linear-gradient(to right,rgb(137, 172, 137),rgb(152, 200, 175));
  border-radius: 5px;
  font-family: Lexend;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 15pt;
  padding: 10px;
  height: 6vh;
  width: 100%;
  margin: 0px;
  opacity: 100%;
  transition: 0.3s;
}
#guessbtn:hover {
  border: 2px solid white;
}
.menuDiv{
  visibility: visible;
}
.mapctnr {
  position: fixed;
  top: -10vh;
  height: 115vh;
  width: 100vw;
}
/* MENU*/
.menuBg{
  z-index: 1;             /* Lowered so it sits underneath your buttons */
  position: fixed;
  top: -2.5vh;
  left: -2.5vw;
  width: 105vw;
  height: 105vh;
  object-fit: cover;      /* Prevents the forest image from stretching weirdly */
  filter: blur(5px);
}
.menuButton{
  font-family: Lexend;
  font-size:30px;
  color:white;
  border:none;
  background:none;

  top:0;
  left:0;
  width:300px;
  height:75px;
  transition:0.2s;
}
.menuButton:hover{
  transform: translateX(50px)

}
.menuButtonBar{
    top:10vh;
    display:flex;
    width:200px;
    flex-direction: column;
    z-index:100;
    position:fixed;

}
h1{
  padding:50px;
    z-index:100;
    font-size:80px;
  font-family: Lexend;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  color:white;
}
hr{
  background-color: white;
  height:1px;
  border-radius: 1px;
  border:none;
  margin-left:60px;
  width:100%;
}
.multiplayerPanel{
  visibility: hidden;
  font-family: Lexend;
  vertical-align: center;
  position: fixed;
  top: 25vh;
  left: 45vw;
  padding-top: 15px;
  z-index: 100;
  text-align: center;
  width: 40vw;
  height: 50vh;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(to bottom,rgba(102, 127, 156, 0.168),rgba(160, 167, 163, 0.18));
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: 700;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 15px 5px rgba(152, 197, 168, 0.207); 

  
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.gameCode{
font-size:100px;
padding:0;
margin:0;
}
.smallText{
  font-size:20px;
  margin:0;
}
.playerBox{
  box-shadow: 0 0 15px 5px rgba(152, 197, 168, 0.207); 
}